body {
	background: #f0f0f0;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	z-index: 3;
}

/* 筛选器 */
#filter {
	width: 90%;
	height: 50px;
margin: auto;
}

/* 筛选框按钮样式 */
.Sbtn {
	float: right;
	margin: 10px;
	padding: 0 25px;
	border: #5FB878 solid 1.5px;
	height: 30px;
	width: auto;
	list-style: none;
	text-align: center;
	line-height: 25px;
	font-size: 1.1em;
	background: #009688;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.Sbtn:hover {
	background: #7ECBC8;
}

/* 搜索框 */
#Ssearch-bar-text {
	z-index: 998;
	margin: 14px 15px !important;
	width: 200px !important;
	font-size: 1em;
	height: 30px;
	background-color: #DDDDDD;
	color: #23262E;
	float: right;
	border-radius: 5px;
}

/* 筛选框 */
/*修改	修改了长度*/
/* 筛选框 */
#select {
	width: 90%;
	background: white;
	position: relative;
	top: 33px;
	left: 6.5%;
	box-shadow: 0 0 6px 0px #bdbcbc;
	border-radius: 10px;
}


/* 已选择的筛选项 */
.select-result {
	margin-left: 50px;
}

/* 年份 */
#Syear {
	margin: 10px;
	float: left;
	width: 100%;
	height: auto;
}

/* 地区 */
#Slocation {
	margin: 10px;
	float: left;
	width: 100%;
	height: auto;
}

/* 类型 */
#Stype {
	margin: 10px;
	float: left;
	width: 100%;
	height: auto;
}

/* 标签样式 */
.label {
	float: left;
	height: 48px;
	width: 100px;
	line-height: 48px;
	text-align: center;
}

/* 筛选项 */
.choose {
	float: left;
}

/* 筛选项样式 */
.lis-year {
	margin: 10px;
	padding: 0 20px;
	border: crimson solid 1.5px;
	height: 25px;
	width: auto;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 25px;
	background: orangered;
	color: white;
	border-radius: 5px;
}

.lis-year:hover {
	background: coral;
}

.lis-location {
	margin: 10px;
	padding: 0 20px;
	border: #00F7DE solid 1.5px;
	height: 25px;
	width: auto;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 25px;
	background: #01AAED;
	color: white;
	border-radius: 5px;
}

.lis-location:hover {
	background: skyblue;
}

.lis-type {
	margin: 10px;
	padding: 0 20px;
	border: #FFFF00 solid 1.5px;
	height: 25px;
	width: auto;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 25px;
	background: gold;
	color: green;
	border-radius: 5px;
}

.lis-type:hover {
	background: lightyellow;
}

/* 电影库 */
#movieList {
	margin: auto;
	width: 90%;
	height: 1300px;
	background: white;
	border-radius: 10px;
	/* box-shadow: #555555 0px 0px 40px 2px; */
	box-shadow:0 0px 10px rgba(0, 0, 0, 0.2); 
}

/* 电影 */
.movie {
	margin: 30px auto;
	width: 170px;
	height: 250px;
	text-align: center;
}

/* 电影名 */
.movieName {
	font-size: 14px;
	width: 100%;
	height: auto;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;

}

/* 电影评分 */
.movieScore {
	width: 100%;
	height: 15%;
}

/* 导演 */
.master {
	height: 15%;
}

/* 主演 */
.actors {
	width: 100%;
	height: 15%;
}

/* 电影类型 */
.movieType {
	width: 100%;
	height: 15%;
	float: left;
}

/* 电影时长 */
.movieTime {
	width: 100%;
	height: 15%;
	float: left;
}


/* 电影列表 */
.movieList {
	width: 80%;
}

.movieList tr {
	height: 400px;
}

.movieList tr td {
	margin: 10px;
}

figure {
	width: 200px;
	height: 240px;
}

/* 年份 */
.year {
	font-size: 13px;
	width: 100%;
	height: auto;
}

/* 分数 */
.score {
	font-size: 15px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	color: #5FB878;
}

img {
	height: 100%;
	width: 100%;
}

.h1 {
	margin-top: 20px;
	text-align: center;
	font-size: 2.5em;
}

/*修改	新增了分页条的样式属性*/
/*分页条*/
#demo7 {
	width: 60%;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
}