
#nav {
    z-index: 999;
}

#container {
    display: table;
    text-align: center;
    margin: auto;
    z-index: 10;
}

.title {
    font-size: 25px !important;
    color: GrayText !important;
    position: relative;
    top: 18px;

}