/* 全局设置 */
body {
	background: #F0F0F0;
	font-family:  "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

img {
	height: 100%;
	width: 100%;
}

/*标题 */
.title {
	margin: 30px auto;
	text-align: center;
	font-size: 2.5em;
}

/* 新闻主体 */
#news {
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

/* 新闻标题 */
.newsTitile {
	margin: 10px auto;
	text-align: left;
	font-size: 30px;
	line-height: initial;
}

/* 发布日期 */
.newsDate {
	font-size: 1em;
	color: gray;
	margin: 10px 20px 10px 10px;
	float: left;
}

/* 信息来源 */
.newsAuthor {
	font-size: 1em;
	margin: 10px 0px 10px 20px;
	float: left;
	color: gray;
}

/* 新闻正文 */
.newsText {
	text-indent: 33px;
	margin: 20px auto;
	font-size: 14px;
}

/* 新闻图片 */
.newsPic {
	margin: auto;
}

/* 热点话题 */
#hotTopic {
	padding: 20px;
	border-radius: 10px;
}

/* 热点话题的标题 */
#HTtitle {
	margin: 0px auto;
	text-align: center;
	font-size: 28px;
	color: black;
	cursor: pointer;
	transition: all 0.6s;
}
/* 鼠标移入将标题字色该红 */
#HTtitle:hover {
	color: red;
}

/* 单个话题 */
.HT {
	margin: 10px auto;
	padding: 5px;
	cursor: pointer;
}

/* 话题图片 */
.HTpic {
	height: 50px;
	width: 50px;
	border: #9F9F9F solid 1px;
	border-radius: 5px;
	transition: all 0.6s;
}
/* 鼠标移入图片变大 */
.HTpic:hover {
	transform: scale(1.05);
}

/* 话题关键字 */
.HTkeyword {
	margin-top: 5px;
	font-size: 14px;
	font-weight: bold;
}

/* 话题简述 */
.HTinfo {
	margin-top: 5px;
	font-size: 14px;
	color: #393D49;
	/* 文字显示限制 */
	display: -webkit-box;
	/* 限制1行 */
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

  