/*全局设置*/
body {
    background: #f0f0f0;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

/*图片*/
img {
    width: 100%;
    height: 100%;
}

p {
    font-size: 0.95em;
}

/* 主页面 */
#main {
    margin: auto;
    width: 64rem;
    height: 62.5rem;
}

/* 顶部 */
#top {
    width: 100%;
    height: 25.5rem;

    /*设置背景图片*/
    background-image: url("/filmos/resources/images/usercentre/othercentre.jpg");
    background-repeat: repeat;

}

/* 空白框 */
#blank {
    height: 272px;
    width: 100%;
}

/* 用户头像 */
#Ohead {
    margin-left: 20px;
    width: 70px;
    height: 70px;
    background: wheat;
    border: white solid 1.5px;
    float: left;
}

/* 用户名 */
#OuserName {
    margin-top: 10px;
    margin-left: 110px;
    font-size: 3.35em;
    font-weight: bold;
    color: white;
}

/*关注数，收藏数与影评数*/
#FCC {
    width: 450px;
    height: 100px;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 1.5em;
    position: absolute;
    left: 530px;
    top: 300px;
}

/*关注数*/
#followCount {
    width: 130px;
    height: 100%;
    float: left;
    margin-right: 30px;
}

/*收藏数*/
#collectCount {
    width: 130px;
    height: 100%;
    float: left;
    margin-right: 30px;
}

/*影评数*/
#commentCount {
    width: 130px;
    height: 100%;
    float: left;
}

/* 左侧 */
#left {
    position: relative;
    top: 46.5px;
    margin-top: 0.875rem;
    margin-right: 0.4375rem;
    width: 43.75rem;
    background: white;
    float: left;
}

/*我的影评*/
#userComment {
    width: 95%;
    margin: 20px auto;
}

/*删除按钮*/
.delBtn {
    background: black;
    position: relative;
    left: 94%;
    top: 10px;
    cursor: pointer;
    color: gray;
}

.delBtn:hover {
    color: red;
}

/*回复我的*/
#userreply {
    margin: 20px auto;
    width: 95%;
}

/*我的关注*/
/*左侧关注列表*/
#LfollowList {
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}
/* 单个关注区域大小 */
#LfollowList ul li {
    margin-bottom: 40px;
    margin-right: 15px;
    border-radius: 5px;
    width: 47%;
    height: 4.5em;
    float: left;
    word-break: break-all;
}

/* 关注者头像 */
.LFuserPic {
    float: left;
    margin-right: 20px;
}


/* 用户名 */
.LFuserName {
    width: 15em;
    height: 50%;
    line-height: 2em;
    float: left;
}

/* 访问主页 */
.Goto {
    width: 7.5em;
    height: 50%;
    float: left;
}
/* 访问主页按钮 */
.GotoBtn {
    width: 6em !important;
}

/* 取消关注 */
.Cancel {
    width: 7.5em;
    height: 50%;
    float: left;
    margin-left: -14%;
}
/* 取消关注按钮 */
.CancelBtn {
    margin-right: 10px !important;
    width: 6em !important;
    float: right !important;
}

/*我的收藏*/
/* 左侧收藏列表 */
#LcollectList {
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
}
/* 单个收藏区域大小 */
#LcollectList ul li {
    margin-bottom: 38px;
    margin-right: 72px;
    border-radius: 5px;
    width: 21.5%;
    height: 17em;
    float: left;
    word-break:break-all;
}

/* 收藏电影的海报图 */
.LCollectPic {
    width: 100%;
    height: 13.5em;
}

/* 收藏电影的电影名 */
.LCollectName {
    width: 100%;
    height: 2.5em;
    text-align: center;
}

/* 收藏日期 */
.LCollectDate {
    width: 100%;
    height: auto;
    font-size: 0.8em;
    color: gray;
}


/* 右侧 */
#right {
    position: relative;
    top: 50px;
    margin-top: 0.875rem;
    margin-left: 0.4375rem;
    width: 19.375rem;
    height: 28.125rem;
    background: white;
    float: right;
    box-shadow: 2px 3px 5px 0px #0000001a;
}

/* 右侧盒子（关注与收藏） */
.rightbox {
    margin: auto;
    width: 90%;
    height: 9.375rem;
}
/* 右侧列表样式 */
.rightbox ul {
    list-style: none;
}
.rightbox ul li {
    float: left;
    width: 80px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;

    word-break:break-all;
}

/* 关注 */
.follow {
    margin: auto;
    width: 5rem;
    height: 5rem;
}

/*关注用户*/
.Fuser {
    width: 4.5em;
    height: 4.5em;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s;
}

/*关注用户的用户名*/
.FuserName {
    width: 100%;
    height: 3em;
    text-align: center;
    font-size: 0.9em;
}

/* 收藏 */
.collect {
    margin: auto;
    width: 5rem;
    height: 7.5rem;
}

/*收藏电影*/
.movie {
    width: 100%;
    height: 100%;
}

/*收藏的电影名*/
.movieName {
    text-align: center;
    font-size: 0.9em;
}


/*右侧标题*/
.h4 {
    line-height: 2em;
    font-size: 14px;
    text-align: center;
    margin-top: -6%;
    padding: 2%;
    color: white;
    background: rgb(255, 193, 7);
}

#id{
    position: relative;
    top: 25px;
}
#userComment {
    width: 95%;
    margin: 20px auto;
}
/*删除按钮*/
.delBtn {
    background: black;
    position: relative;
    left: 94%;
    top: 10px;
    cursor: pointer;
    color: gray;
}

.delBtn:hover {
    color: red;
}