/*修改	整合部分样式为全局样式*/
/*全局设置*/
body {
	background: #f0f0f0;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

/* 主页面 */
#main {
	margin: auto;
	width: 64rem;
	height: 62.5rem;
	background: #f0f0f0;
}

/* 顶部 */
#top {
	width: 100%;
	height: 25.5rem;

	/*设置背景图片*/
	background-image: url("/filmos/resources/images/usercentre/usercentre.jpg");
	background-repeat: repeat;
}

/* 空白框 */
#blank {
	height: 272px;
	width: 100%;
}

/* 用户头像 */
#head {
	margin-left: 20px;
	width: 70px;
	height: 70px;
	background: wheat;
	border: white solid 1.5px;
	float: left;
	
}

/* 用户名 */
#userName {
	margin-top: 10px;
	margin-left: 110px;

	font-size: 3.35em;
	font-weight: bold;
	color: white;

}

/*关注数，收藏数与影评数*/
#FCC {
	width: 450px;
	height: 100px;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 1.5em;
	position: absolute;
	left: 530px;
	top: 300px;
}

/*关注数*/
#followCount {
	width: 130px;
	height: 100%;
	float: left;
	margin-right: 30px;
}

/*收藏数*/
#collectCount {
	width: 130px;
	height: 100%;
	float: left;
	margin-right: 30px;
}

/*影评数*/
#commentCount {
	width: 130px;
	height: 100%;
	float: left;
}


/* 左侧 */
#left {
	position: relative;
	top: 50px;
	margin-top: 0.875rem;
	margin-right: 0.4375rem;
	width: 43.75rem;
	background: white;
	float: left;
}

/* 我的影评 */
.myComment {
	
}

/* 回复我的 */
.replyMe {
	
}

/* 我的关注 */
.myFollow {
	
}

/*我的收藏*/
.myCollect {

}

/* 右侧 */
#right {
	position: relative;
	top: 50px;
	margin-top: 0.875rem;
	margin-left: 0.4375rem;
	width: 19.375rem;
	height: 28.125rem;
	background: white;
	float: right;
}

/* 右侧盒子（关注与收藏） */
.rightbox {
	margin: auto;
	width: 90%;
	height: 9.375rem;
}

/* 关注 */
.follow {
	margin: auto;
	width: 5rem;
	height: 7.5rem;
}

/* 收藏 */
.collect {
	margin: auto;
	width: 5rem;
	height: 7.5rem;
}

.movie {
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}

.movie:hover {
	margin: auto;
	width: 110%;
	height: 110%;
	transform: scale(1.1);
}

.movieName {
	text-align: center;
	font-size: 0.9em;
}

/* 列表 */
.rightbox ul {
	list-style: none;
	float: left;
}

.rightbox ul li {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

/* 分割线 */
.hr {
	width: 90%;
	height: 0.0625rem;
	margin: auto;
}

h4 {
	line-height: 2em;
	font-size: 1.45em;
	text-align: center;
}

p {
	text-indent: 2em;
	font-size: 0.95em;
}

img {
	width: 100%;
	height: 100%;
}

#id{
	position: relative;
	top: 25px;
}

.layui-tab-content{
	position: relative;
	top: 25px;
}
