h1 {
    z-index: 999;
    position: relative;
    top: 30px;

}

h2 {
    z-index: 999;
    position: relative;
    top: 150px;

}

#login-body {
    z-index: 999;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    border: 2px solid #e1e1e1;
    text-align: center;
    background: rgba(255, 255, 255, 1);
}

#background {
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#close {
    z-index: 999;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#front {
    z-index: 999;
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#user {
    z-index: 999;
    font-size: 80px;
    position: absolute;
    top: 30px;
    left: 210px;

}

#form {
    z-index: 999;
    width: 400px;
    height: 300px;
    text-align: center;

}

#submit {
    z-index: 999;
    margin: auto;
    width: 200px;
}

#submit-yes {
    z-index: 999;
    width: 80px;
    margin: auto;
    text-align: center;
}

#rem {

    width: 100px;
    z-index: 999;
    position: absolute;
    bottom: 5px;
    left: 150px;

}

#register-body {
    z-index: 999;
    width: 800px;
    height: 650px;
    margin: 100px auto;
    border: 2px solid #e1e1e1;
    text-align: center;
    background: rgba(255, 255, 255, 1);
}

#background1 {
    z-index: 999;
    text-align: center;
    z-index: 15;
    position: absolute;
    width: 100%;
    height: 200%;
    background: rgba(0, 0, 0, 0.8);

}

#close1 {
    z-index: 999;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#text {
    z-index: 999;
    font-size: 25px;
    position: relative;
    top: 90px;
    left: 15px;

}

#form1 {
    z-index: 999;
    width: 400px;
    height: 400px;
    text-align: center;
    position: relative;
    top: -16px;

}

#submit1 {
    z-index: 999;
    margin: auto;
    width: 200px;
}

#submit-yes1 {
    width: 80px;
    z-index: 999;
    position: relative;
    bottom: -98px;
    left: 450px;
}

#submit-no {
    width: 80px;
    z-index: 999;
    position: relative;
    bottom: -43px;
    left: -160px;

}

#search-bar-text {
    z-index: 998;
    margin-left: -115px;
!important;
    width: 100%;
    font-size: 20px;
    height: 80px;
    background-color: black;
    color: white;
    border: none;
}

#progress-bar {
    position: relative;
    top: 50px;

}

#text1 {
    z-index: 999;
    font-size: 15px;
    position: relative;
    top: 208px;
    left: 210px;


}

#secondinfo {
    position: absolute;
    top: 131px;


}

#text2 {
    z-index: 999;
    font-size: 15px;
    position: relative;
    top: 208px;
    left: 210px;
}

#next{
    z-index: 999;
    width: 80px;
    margin: auto;
    text-align: center;
    position: relative;
    left: 500px;
    top:6px;

}


